.welcome {
  background-image: url("../../assets/slideshow-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  height: 100%;
  transition: all 0.3s ease-out;
}

.name-header{
  position: absolute;
  top: 5%;
  left: 15%;
  width: 50%;
}

.name-header h1 {
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-size: 45px;
}

.brokerage {
  position: absolute;
  top: 90%;
  left: 10%;
  width: 20%;
}

.brokerage img {
  width: 100%;
}

@media screen and (max-width: 990px) {
  .welcome {
    background-attachment: scroll;
  }
  .name-header {
    top: 18%;
    width: 60%;
    left: 0;
    right: none;
    margin: 0;
  }
}

@media screen and (max-width: 420px) {
  
  .name-header {
    top: 90%;
    width: 80%;
  }
  .name-header h1 {
    font-size: 20px;
  }
}